---
const {review} = Astro.props
const published = new Date(review.published);
---
<div class="bg-pie-600 rounded-lg overflow-hidden">
    <div class="grid grid-cols-3 text-sm">
        <dl class='p-4 text-mincepiebg-500'>
            <dt class='text-base lg:text-2xl font-medium'>Published</dt>
            <dd class='ml-4 lg:text-lg text-md'>{published.toLocaleDateString()}</dd>
            <dt class='text-base lg:text-2xl font-medium'>Overall Rating</dt>
            <dd class='ml-4 lg:text-lg text-md'>{review.overall} / 20</dd>
            <dt class='text-base lg:text-2xl font-medium'>Reviewers</dt>
            <dd class='ml-4 lg:text-lg text-md'>{review.reviewers}</dd>
            <dt class='text-base lg:text-2xl font-medium'>Price</dt>
            <dd class='ml-4 lg:text-lg text-md'>£{review.price}</dd>
            <dt class='text-base lg:text-2xl font-medium'>Served</dt>
            <dd class='ml-4 lg:text-lg text-md'>{review.served}</dd>
        </dl>
        <img src={review.image} alt="" class='h-full object-cover col-start-2 col-span-2'>
    </div>
</div>