---
const {review} = Astro.props
const published = new Date(review.published);
---
<div class="bg-pie-600 rounded-lg overflow-hidden">
    <div class="grid grid-cols-3 text-sm">
        <dl class='p-2 text-mincepiebg-500'>
            <dt>Published</dt>
            <dd class='ml-4'>{published.toString()}</dd>
            <dt>Overall Rating</dt>
            <dd class='ml-4'>{review.overal} / 20</dd>
            <dt>Reviewers</dt>
            <dd class='ml-4'>{review.reviewers}</dd>
            <dt>Price</dt>
            <dd class='ml-4'>£{review.price}</dd>
        </dl>
        <img src={review.image} alt="" class='h-full object-cover col-start-2 col-span-2'>
    </div>
</div>