---
//import ReviewLayout from "../../layouts/ReviewLayout.astro";
import BaseLayout from '../../layouts/BaseLayout.astro';
import PortableText from '../../components/PortableText.astro';
import ReviewSummary from "../../layouts/components/ReviewSummary.astro";

import { getAllReviews } from '../../lib/api.js';
import { urlForImage } from '../../lib/imageBuilder.js';

export async function getStaticPaths() {
    const allReviews = await getAllReviews();

    return allReviews.map(review => ({
      params: {
        slug: review.slug.current
      },
      props: {
        review
      }
    }))
}

const { review } = Astro.props;

const source = review.source.charAt(0).toUpperCase() + review.source.slice(1);
const dateOptions = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }
const published = new Date(review.published).toLocaleDateString("en-GB", dateOptions)

const stats:String[] = [];
Object.keys(review.rating).map((rating) => {
  stats.push(
    { 
      key : rating,
      value: review.rating[rating]
    }
  )
})

const title = review.brand + ' ' + (review.range ?? '');

//TODO: show the quote somehwere
//TODO: show the source (supermarket/local)
---
<BaseLayout title={title}>
  <div class="bg-brandyellow-500">
    <div class="pt-6">
      <nav aria-label="Breadcrumb">
        <ol role="list" class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
          <li>
            <div class="flex items-center">
              <a href="/reviews" class="mr-2 text-sm font-medium text-mincepiebg-500">Reviews</a>
              <svg width="16" height="20" viewBox="0 0 16 20" fill="text-mincepieby-500" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="h-5 w-4 text-gray-300">
                <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
              </svg>
            </div>
          </li>
  
          <li class="text-sm">
            <a href={review.slug.current} aria-current="page" class="text-mincepiebg-500 font-black hover:text-foil-500">{review.brand} {review.range ?? ''}</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="relative bg-brandyellow-500 mt-6">
    <div class="h-56 bg-indigo-600 sm:h-72 lg:absolute lg:left-0 lg:h-full lg:w-1/2">
      {review.quote && review.quote.length ? 
        <div class="relative overflow-hidden pt-64 pb-10 shadow-xl">
          <img class="absolute inset-0 h-full w-full object-cover" src={urlForImage(review.image)} alt="Image of a mince pie">
          <div class="absolute inset-0 mix-blend-multiply"></div>
          <div class="absolute inset-0 bg-gradient-to-t from-brandwhite-500 via-brandyellow-500 opacity-90"></div>
          <div class="relative px-8">
            <blockquote class="mt-8">
              <div class="relative text-xl font-thin text-brandgrey-500 md:flex-grow">
                <svg class="absolute top-0 left-0 h-8 w-8 -translate-x-3 -translate-y-2 transform text-gray-200" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                  <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                </svg>
                <p class="relative">{review.quote}</p>
              </div>
      
              <footer class="mt-4">
                <p class="text-base font-semibold text-brandgrey-500">Taster's comment</p>
              </footer>
            </blockquote>
          </div>
        </div>
      :
        <img class="h-full w-full object-cover" src={urlForImage(review.image)} alt="Image of a mince pie">
      }


    </div>
    <div class="relative mx-auto max-w-7xl px-4 py-8 mt-16 lg:mt-0 sm:py-12 sm:px-6 lg:py-16">
      <div class="mx-auto max-w-2xl lg:mr-0 lg:ml-auto lg:w-1/2 lg:max-w-none lg:pl-10">
        
        <h2 class="mt-6 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{review.brand} {review.range ?? ''}</h2>
        <p>
          {review.overall} / 20 Overall
        </p>        
        <PortableText portableText={review.review}/>

        <div class="mt-8 overflow-hidden">
          <dl class="-mx-8 -mt-8 flex flex-wrap">
            <div class="flex flex-col px-8 pt-8">
              <dt class="order-2 text-base font-semibold text-brandgrey-500">Pastry</dt>
              <dd class="order-1 text-2xl font-bold text-brandgrey-500 sm:text-3xl sm:tracking-tight">{review.rating.pastry ?? 0} / 5</dd>
            </div>
            <div class="flex flex-col px-8 pt-8">
              <dt class="order-2 text-base font-semibold text-brandgrey-500">Filling</dt>
              <dd class="order-1 text-2xl font-bold text-brandgrey-500 sm:text-3xl sm:tracking-tight">{review.rating.filling ?? 0} / 5</dd>
            </div>
            <div class="flex flex-col px-8 pt-8">
              <dt class="order-2 text-base font-semibold text-brandgrey-500">Presentation</dt>
              <dd class="order-1 text-2xl font-bold text-brandgrey-500 sm:text-3xl sm:tracking-tight">{review.rating.presentation ?? 0} / 5</dd>
            </div>
            <div class="flex flex-col px-8 pt-8">
              <dt class="order-2 text-base font-semibold text-brandgrey-500">Value</dt>
              <dd class="order-1 text-2xl font-bold text-brandgrey-500 sm:text-3xl sm:tracking-tight">{review.rating.value ?? 0} / 5</dd>
            </div>
          </dl>
        </div>
        
      </div>
    </div>
  </div>

  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 my-8">
    <dl class="mt-5 grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-4">
      <div class="overflow-hidden rounded-lg bg-brandwhite-500 px-4 py-5 shadow sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Price</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">£ {review.price.toFixed(2)}</dd>
      </div>
  
      <div class="overflow-hidden rounded-lg bg-brandwhite-500 px-4 py-5 shadow sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Contributing Reviewers</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">{review.reviewers}</dd>
      </div>

      <div class="overflow-hidden rounded-lg bg-brandwhite-500 px-4 py-5 shadow sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Published</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">{published}</dd>
      </div>

      <div class="overflow-hidden rounded-lg bg-brandwhite-500 px-4 py-5 shadow sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Sourced from</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">{source}</dd>
      </div>
    </dl>
  </div>
  
</BaseLayout>