---
//import ReviewLayout from "../../layouts/ReviewLayout.astro";
import BaseLayout from '../../layouts/BaseLayout.astro';
import PortableText from '../../components/PortableText.astro';
import ReviewSummary from "../../layouts/components/ReviewSummary.astro";

import { getAllReviews } from '../../lib/api.js';
import { urlForImage } from '../../lib/imageBuilder.js';

export async function getStaticPaths() {
    const allReviews = await getAllReviews();

    return allReviews.map(review => ({
      params: {
        slug: review.slug.current
      },
      props: {
        review
      }
    }))
}

const { review } = Astro.props;

const source = review.source.charAt(0).toUpperCase() + review.source.slice(1);
const dateOptions = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }
const published = new Date(review.published).toLocaleDateString("en-GB", dateOptions)
const title = review.brand + ' ' + (review.range ?? '');
const hasQuote = review.quote && review.quote.length > 0;

const stats:String[] = [];
Object.keys(review.rating).map((rating) => {
  stats.push(
    { 
      key : rating,
      value: review.rating[rating]
    }
  )
})
---
<BaseLayout title={title}>
  <div class="bg-brandyellow-500">
    <div class="pt-6">
      <nav aria-label="Breadcrumb">
        <ol role="list" class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
          <li>
            <div class="flex items-center">
              <a href="/reviews" class="mr-2 text-sm font-medium text-mincepiebg-500">Reviews</a>
              <svg width="16" height="20" viewBox="0 0 16 20" fill="text-mincepieby-500" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="h-5 w-4 text-gray-300">
                <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
              </svg>
            </div>
          </li>
  
          <li class="text-sm">
            <a href={review.slug.current} aria-current="page" class="text-mincepiebg-500 font-black hover:text-foil-500">{review.brand} {review.range ?? ''}</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="relative bg-brandyellow-500 mt-6">
    <div class="h-56 bg-indigo-600 sm:h-72 lg:absolute lg:left-0 lg:h-full lg:w-1/2">      
        {hasQuote ? 
          <div class="grid grid-rows-2 h-full grid-cols-1 relative">
            <img class="h-full w-full object-cover row-start-1 row-span-2" src={urlForImage(review.image)} alt="Image of a mince pie">
            <div class="self-end row-start-2 absolute w-full bg-brandgrey-500 p-8 text-brandwhite-500 opacity-60">
              <q class=" text-xl">
                {review.quote}
              </q>
              <p class="indent-0 text-sm">A tasters comment</p>
            </div>
          </div>
        :
          <img class="h-full w-full object-cover" src={urlForImage(review.image)} alt="Image of a mince pie">
        }


    </div>
    <div class="relative mx-auto max-w-7xl px-4 lg:mt-0 sm:px-6 lg:py-16">
      <div class="mx-auto max-w-2xl lg:mr-0 lg:ml-auto lg:w-1/2 lg:max-w-none lg:pl-10">
        
        <h2 class="mt-6 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{review.brand} {review.range ?? ''}</h2>
        <p>
          {review.overall} / 20 Overall
        </p>        
        <PortableText portableText={review.review}/>

        <div class="mt-8 overflow-hidden">
          <dl class="-mx-8 -mt-8 flex flex-wrap">
            {review.rating.pastry > 0 ?
              <div class="flex flex-col px-8 pt-8">
                <dt class="order-2 text-base font-semibold text-brandgrey-500">Pastry</dt>
                <dd class="order-1 text-2xl font-bold text-brandgrey-500 sm:text-3xl sm:tracking-tight">{review.rating.pastry ?? 0} / 5</dd>
              </div>
            :
             <div></div>
            }
            {review.rating.filling > 0 ?
              <div class="flex flex-col px-8 pt-8">
                <dt class="order-2 text-base font-semibold text-brandgrey-500">Filling</dt>
                <dd class="order-1 text-2xl font-bold text-brandgrey-500 sm:text-3xl sm:tracking-tight">{review.rating.filling ?? 0} / 5</dd>
              </div>
            :
              <div></div>
            }
            {review.rating.presentation > 0 ? 
              <div class="flex flex-col px-8 pt-8">
                <dt class="order-2 text-base font-semibold text-brandgrey-500">Presentation</dt>
                <dd class="order-1 text-2xl font-bold text-brandgrey-500 sm:text-3xl sm:tracking-tight">{review.rating.presentation ?? 0} / 5</dd>
              </div>
            :
              <div></div>
            }
            {review.rating.value > 0 ?
              <div class="flex flex-col px-8 pt-8">
                <dt class="order-2 text-base font-semibold text-brandgrey-500">Value</dt>
                <dd class="order-1 text-2xl font-bold text-brandgrey-500 sm:text-3xl sm:tracking-tight">{review.rating.value ?? 0} / 5</dd>
              </div>
            :
              <div></div>
            }
          </dl>
        </div>
        
      </div>
    </div>
  </div>

  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 my-8">
    <dl class="mt-5 grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-4">
      <div class="overflow-hidden rounded-lg bg-brandwhite-500 px-4 py-5 shadow sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Price</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">£ {review.price.toFixed(2)}</dd>
      </div>
  
      <div class="overflow-hidden rounded-lg bg-brandwhite-500 px-4 py-5 shadow sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Contributing Reviewers</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">{review.reviewers}</dd>
      </div>

      <div class="overflow-hidden rounded-lg bg-brandwhite-500 px-4 py-5 shadow sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Published</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">{published}</dd>
      </div>

      <div class="overflow-hidden rounded-lg bg-brandwhite-500 px-4 py-5 shadow sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Sourced from</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">{source}</dd>
      </div>
    </dl>
  </div>
  
</BaseLayout>