---
import BaseLayout from '../layouts/BaseLayout.astro';

import { getAllReviews } from '../lib/api';
import { urlForImage } from '../lib/imageBuilder'

const reviews = await getAllReviews();

const randomReviews = reviews.sort(() => 0.5 - Math.random()).slice(0, 7);
const review = randomReviews[0];

const prices = reviews.map(p => {
	return p.price;
})

const maxPrice = Math.max(...prices);

const totalSpent = prices.reduce((acc, current) => {
	return acc + current
})

const reviewers = reviews.map(r => {
	return r.reviewers;
})
const totalReviewers = reviewers.reduce((acc, curr) => {
	return acc + curr;
})
---
<BaseLayout title='About' heroTitle='About This Here Site'>
	<div class="relative bg-brandyello-500 py-16 sm:py-24">
		<div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 lg:px-8">
			<div class="relative sm:py-16 lg:py-0">
				<div aria-hidden="true" class="hidden sm:block lg:absolute lg:inset-y-0 lg:right-0 lg:w-screen">
					<div class="absolute inset-y-0 right-1/2 w-full rounded-r-3xl bg-brandgrey-500 lg:right-72"></div>
					<svg class="absolute top-8 left-1/2 -ml-3 lg:-right-8 lg:left-auto lg:top-12" width="404" height="392" fill="none" viewBox="0 0 404 392">
						<defs>
							<pattern id="02f20b47-fd69-4224-a62a-4c9de5c763f7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
								<rect x="0" y="0" width="4" height="4" class="text-brandblue-400" fill="currentColor" />
							</pattern>
						</defs>
						<rect width="404" height="392" fill="url(#02f20b47-fd69-4224-a62a-4c9de5c763f7)" />
					</svg>
				</div>
				<div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0 lg:py-20">
					<!-- Testimonial card-->
					<div class="relative overflow-hidden rounded-2xl pt-64 pb-10 shadow-xl">
						<img class="absolute inset-0 h-full w-full object-cover" src={urlForImage(review.image)} alt="">
						<div class="absolute inset-0 bg-white mix-blend-multiply"></div>
						<div class="absolute inset-0 bg-gradient-to-t from-pie-400 via-pie-600 opacity-90"></div>
						<div class="relative px-8">
							<blockquote class="mt-8">
								<div class="relative text-xl font-thin text-brandgrey-500 md:flex-grow">
									<svg class="absolute top-0 left-0 h-8 w-8 -translate-x-3 -translate-y-2 transform text-gray-200" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
										<path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
									</svg>
									<p class="relative">I don't really like mince pies.</p>
								</div>
				
								<footer class="mt-4">
									<p class="text-base font-semibold text-brandgrey-500">One for the team, Employee at Matrix Create</p>
								</footer>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		
			<div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-0">
				<!-- Content area -->
				<div class="pt-12 sm:pt-16 lg:pt-20">
					<h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">About Mince Pie Review</h2>
					<div class="mt-6 space-y-6 text-gray-500">
						<p class="text-lg">What can we say, it's a site about reviewing mince pies ... what else is there to explain?</p>
						<h3 class="text-xl tracking-tight text-gray-900 sm:text-2xl">Why is this about?</h3>
						<p class="text-base leading-7">The history is a little vague as the those who started this little festive fun have gradually filtered off to new ventures. So the challenge has be bestowed upon the current team to carry on the mince pie torch - without eating or rating it.</p>
						<p class="text-base leading-7">We've created this site because that's the thing we do, and also to have a little record for our festive fun.</p>
						<h3 class="text-xl tracking-tight text-gray-900 sm:text-2xl">With thanks</h3>
						<p class="text-base leading-7">This site is built on <a href="https://astro.build/" target="_blank" class="text-brandgrey-500 underline font-semibold">Astro</a> - it's quick, it's light, and it's quick. For the 'look' of the site we're using the popular <a href="https://tailwindcss.com" target="_blank" class="text-brandgrey-500 underline font-semibold">TailwindCSS</a>.</p>
					</div>
				</div>
				<div class="mt-10">
					<dl class="grid grid-cols-2 gap-x-4 gap-y-8">
						<div class="border-t-2 border-gray-100 pt-6">
							<dt class="text-base font-medium text-gray-500">Most expensive pie</dt>
							<dd class="text-3xl font-bold tracking-tight text-gray-900">£{maxPrice}</dd>
						</div>
				
						<div class="border-t-2 border-gray-100 pt-6">
							<dt class="text-base font-medium text-gray-500">Amount spent on pies</dt>
							<dd class="text-3xl font-bold tracking-tight text-gray-900">£{totalSpent}</dd>
						</div>
				
						<div class="border-t-2 border-gray-100 pt-6">
							<dt class="text-base font-medium text-gray-500">Number of reviews</dt>
							<dd class="text-3xl font-bold tracking-tight text-gray-900">{reviews.length}</dd>
						</div>
				
						<div class="border-t-2 border-gray-100 pt-6">
							<dt class="text-base font-medium text-gray-500">Number of contributed reviewers</dt>
							<dd class="text-3xl font-bold tracking-tight text-gray-900">{totalReviewers}</dd>
						</div>
					</dl>
					<div class="mt-10">
						<a href="https://matrixcreate.com" target="_blank" class="text-base font-bold underline text-brandgrey-500">
							Learn more our real work
							<span aria-hidden="true"> &rarr;</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</BaseLayout>
